*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    background-color: rgb(240, 245, 245);
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aliceblue;
    width: 100%;
    height: 40px;
    box-shadow:1px ;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.header-left{
    display: flex;
    align-items: center;
    font-size: 25px;
}

.header-mid ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    gap: 15px;
}

.header-mid ul li a{
    text-decoration: none;
    padding: 3px 6px;
    border-radius: 15%;
}
.header-mid ul li a.active,
.header-mid ul li a:hover{
    color: white;
    background-color: rgb(31, 150, 45);
    transition: .5s
}

.header-right i{
   margin-right: 20px;
   border-radius: 50%;
   background-color: rgb(206, 196, 196);
   padding: 8px;
  
}

.header-right i:hover{
    cursor: pointer;
    background-color: rgb(97, 94, 94);
    color: white;
    transform: rotate(360deg);
    transition: 1s;
}

.header-mid ul .mnu{
    display: none;
}

.header-mid .mnu:hover{
    cursor: pointer;
    background-color:transparent;
    transform: rotate(360deg);
    transition: 1s;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(254, 254, 254);
    padding: 20px;
    margin-top: 30px;
}
.text{
    margin-left: 60px;
}

.text span{
    color: rgb(58, 144, 115);
}

.text h1{
    color: darkslateblue;
    margin: 10px 0;
}
.text p{
    color: rgb(92, 90, 90);
}
.btn{
    color: white;
    background-color: darkslateblue;
    padding: 6px 14px;
    border: none;
    margin-top: 20px;
    border-radius: 6px;
    font-size: 15px;
}
.btn:hover{
    cursor: pointer;
    font-size: 15px;
   transition: .9s;
   transform: rotate(360deg);
    color:darkslateblue ;
    background-color: rgb(112, 161, 157);
}
.img img{
    height: 300px;
}

.title{
    text-align: center;
    padding: 10px;
}

.title span{
    color: rgb(18, 165, 40);
    font-size: 20px;
}

.title h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 8px;
    color: darkslateblue;
}

.container{
   position: relative;
}

.prdt-sec{
    background-color: rgb(228, 228, 235);
    padding: 8px;
    border-radius: 8px;
    position: relative;
}

.prdt-sec:hover{
    scale: 1.1;
    transition: .5s;
    cursor: pointer;
}

.prdt-cart{
    text-align: center;
    width: 230px;
    height: 230px;
    margin: 10px 70px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
   
}

.prdt-cart img{
    width: 180px;
    height:130px ;
    border-radius: 8px;
}

.prdt-cart h3{
    margin: 4px 0;
}

.prdt-cart span{
    color:rgb(18, 165, 40) ;
    
}

.prdt-cart button{
    display: block;
    margin: auto;
    color: white;
    background-color: darkslateblue;
    padding:6px 12px ;
    border-radius: 2px;
    border: none;
    margin-top: 7px;
}

.prdt-cart button:hover{
    background-color: rgb(15, 97, 15);
    cursor: pointer;
}













@media(max-width:768px){
    .header-mid ul .mnu{
        display: block;
        font-size: 30px;
    }

    .header-mid ul li a{
       display: none;
    }
    
}